*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.Main{
    display: flex;
    width: 90vh;
}

.view{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:50vh;
    border-radius: 50px;
    color: wheat;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    -webkit-transition: all 700ms ease-in;
}

.view h3{
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.view.current{
    flex: 5;
    /* transition: opacity 0.3s ease-in 0.4s; */
}
.view.current h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}